##################################### 
# Build upon nvcr.io/nvidia/pytorch:23.09-py3  
#####################################

# lang_sam
# pip install -U git+https://github.com/luca-medeiros/lang-segment-anything.git

# grounded_sam (don't install any of the following packages if you already installed lang_sam)
# segment_anything-py
# groundingdino-py

# clip
# pip install ftfy regex tqdm
# pip install git+https://github.com/openai/CLIP.git

# open3d
# apt-get update && apt-get install --no-install-recommends -y \
#     libegl1 \
#     libgl1 \
#     libgomp1 \
#     python3-pip \
#     && rm -rf /var/lib/apt/lists/*
# python3 -m pip install --no-cache-dir --upgrade pip && \
# python3 -m pip install --no-cache-dir --upgrade open3d

# pyaudio
# apt install portaudio19-dev python3-pyaudio
pyaudio

# others
pynput
av
opencv-python==4.7.0.72
Pillow